body {
    background-color: #212529;
    box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, .1), inset 0 0.125em 0.5em rgba(0, 0, 0, .15);
}

main {
    background-color: rgba(0, 0, 0, 0.1);
}

figure {
    overflow: hidden;
    height: 250px;
    margin: 0;
}

figure > img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.bi {
    display: inline-block;
    transition: transform 0.3s ease-in-out;
}

.btn:hover > .bi,
.bi:hover {
    transform: scale(1.2);
    cursor: pointer;
}

/* Formulario */
.form-control:focus,
.form-select:focus {
    border-color: var(--bs-warning);
    caret-color: var(--bs-warning);
    box-shadow: 0 0 0 0.25rem rgb(214 200 16 / 13%);
}

.form-control::placeholder,
.form-select--placeholder {  /* Clase para el DropDownList cuando tiene el placeholder */ 
    color: rgba(var(--bs-white-rgb), 0.3);
}

    .form-select--option-selected,  /* Clase para el DropDownList ya no tiene placeholder */ 
    .form-select > option {
        color: var(--bs-white);
    }

    .form-select:hover {
        cursor: pointer;
    }

    .form-option--placeholder {
        display: none;
    }

.input-file {
    color: rgba(var(--bs-white-rgb), 0.3);
}

.filter-link {
    color: rgba(var(--bs-white-rgb), 0.8);
    transition: color 0.3s ease;
}

.filter-link:hover {
    color: rgba(var(--bs-warning-rgb), 0.8);
    
}

/* Clase que se aplica cuando un link o botón está deshabilitado por CodeBehind,
   como en el filtro de productos por categorías o marcas. */
.aspNetDisabled, .aspNetDisabled:hover {
    color: rgba(var(--bs-white-rgb), 0.3);
    transition: none;
    cursor: default;
}
